body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.centered-box {
  width: 30%;
  height: 70%;
  background-color: #f2f2f2; /* Adjust the color as needed */
  box-shadow: 10px 10px 20px green; /* Adjust the size and color of the shadow as needed */
}
